In [1]:
from dependencies import *
cpidata = pd.read_excel('cpidata.xls',sheet_name='Sheet2')

a = pd.read_stata('table2_1.dta')
b = pd.read_stata('table2_2.dta')
c = pd.read_stata('table3.dta')
d = pd.read_stata('table4.dta')

data = pd.read_stata('table2_1.dta')
data = data.merge(pd.read_stata('table2_2.dta'),on=['month','year','type_fund'])
data = data.merge(pd.read_stata('table3.dta'),on=['month','year','type_fund'])
data = data.merge(pd.read_stata('table4.dta'),on=['month','year','type_fund'])

data['month'] = ['January' if x == 'Janurary' else x for x in data['month']]
data['monthyear'] = [a+str(b) for a,b in zip(data['month'].values,data['year'].values)]
data['date'] = pd.to_datetime(data['monthyear'],infer_datetime_format=True)

data = data.merge(cpidata,on=['date'])
data = data.sort_values(['date','type_fund'])

money_vars = ['new_open_amt', 'new_closed_amt', 'new_interval_amt', 'new_assured_amt', 'exi_open_amt', 'exi_closed_amt', 'exi_interval_amt', 'exi_assured_amt', 'open_red', 'closed_red', 'interval_red', 'assured_re', 'closed_aum', 'closed_aum', 'interval_aum', 'assured_aum']


data['new_open_amt'] = ((data['new_open_amt']/data['cpibase9'])*10)/(46.235)
data['new_closed_amt'] = ((data['new_closed_amt']/data['cpibase9'])*10)/(46.235)

In [2]:
data['equity'] = 0
data.loc[(data['type_fund'] == 2).values + (data['type_fund'] == 3).values + (data['type_fund'] == 6).values,'equity']  = 1

In [3]:
sensexdata = pd.read_stata('sensex_use.dta')
sensexdata['date'] = pd.to_datetime(sensexdata['month_year'],infer_datetime_format=True)
sensexdata = sensexdata.drop(columns=['month_year'])
data = data.merge(sensexdata,on=['date'])

In [4]:
dataequity = data[(data['equity']==1).values]
dataequity.groupby(['type_fund','year']).mean()[['new_open_no','new_closed_no']]

                new_open_no  new_closed_no
type_fund year
2         1999     0.333333       0.000000
          2000     1.250000       0.000000
          2001     0.583333       0.083333
          2002     1.750000       0.000000
          2003     0.833333       0.000000
          2004     2.416667       0.000000
          2005     3.583333       0.000000
          2006     2.416667       0.833333
          2007     2.000000       2.000000
          2008     2.416667       1.000000
          2009     1.777778       0.000000
3         1999     1.000000       0.000000
          2000     0.666667       0.000000
          2001     0.250000       0.000000
          2002     0.083333       0.000000
          2003     0.166667       0.000000
          2004     0.333333       0.000000
          2005     0.000000       0.083333
          2006     0.000000       0.083333
          2007     0.000000       0.250000
          2008     0.000000       0.000000
          2009     0.000000       0.222222
6         1999     0.666667       0.000000
          2000     0.250000       0.000000
          2001     0.083333       0.000000
          2002     0.000000       0.000000
          2003     0.000000       0.000000
          2004     0.000000       0.000000
          2005     0.200000       0.000000
          2006     0.333333       0.083333
          2007     0.166667       0.333333
          2008     0.166667       0.333333
          2009     0.222222       0.333333